{% extends "layout.html" %}
    
{% block body %}

<h1>Registrants</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Fraternity</th>
        </tr>
    </thead>
    <tbody>
        {% for registrant in registrants %}
        {{ pass }}
        <tr>
            <td>{{ registrant[1] }}</td>
            <td>{{ registrant[2] }}</td>
            <td>
                <form action="/deregister" method="post">
                    <input type="hidden" value={{ registrant[0] }} name="id">
                    <button type="submit">Deregister</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
