{% extends "base.html" %} {% block head %} {{ super() }}
<link
    rel="stylesheet"
    link="{{ url_for('static', filename='extended_beauty.css')}}"
>
{% endblock %}
{% block content %}
<div>
<form method="POST" action="/login">
    <h2>Log In</h2>
    <div class="form-group">
      <label for="email">Email address</label>
      <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email"
        placeholder="Enter email"
        >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input 
        type="password" 
        class="form-control" 
        id="password" 
        name="password"
        placeholder="Password">
    </div>
    <div class="form-group form-check">
      <label for="check">Remember me</label>
      <input 
        type="checkbox" 
        class="form-check-label" 
        id="check" 
        name="check"
      >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  {% endblock %}